


/* 

Samiyah website 

1. Navbar
2. Hero section

Samiyah Jackson
NJ Licensed Realtor
C:347.740.4143

Elite Intriago Realty
721 Westfield Ave,
Elizabeth, NJ 07208



/* 









@import 'reset.css'; 

/* global classes */


.container-fluid {
    padding-left: 0;
}

body {
    margin: 0;
    padding: 0;
   
}

.button {
    background: #000000;
    color: #ffffff;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    transition: all .2s ease-in-out;
}

.button:hover {
    background: #222222;
   color: #f1c40f;
}

.alert-danger {
    font-family: 'Open Sans', sans-serif;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    font-size: 16px;
    text-align: center;

}

.alert-success {
    font-family: 'Open Sans', sans-serif;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    font-size: 16px;
    text-align: center;

}

.hidden {
    display: none;
    visibility: hidden;
}



/***********************************************************************/
/* 1.Navbar Section */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.sticky + .content {
    padding-top: 70px;
  }



.custom-navbar {
     background-color: #011140;
     padding: 1.5rem 1rem;
}

.navbar-brand {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    padding: 0px 10px;
}

.navbar-brand:hover {
    color: #011140;
}

.navbar-nav {
    width: 100%;
    justify-content: flex-end;
}

.navbar-nav .nav-item .nav-link {
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
   
}

.navbar-nav .nav-item .nav-link:hover {
    color: #f1c40f;
}

.navbar-nav .nav-link.active {
    color: #f1c40f;
}

    



/***********************************************************************/

/* 2.Hero Section */


.hero-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
}

.hero-box .left-box {
    max-width: 100%;
    height: 800px;
}

.hero-box .left-box img {
    width: 100%;
    height: 830px;
}

.hero-box .right-box {
    width: 100%;
    height: 800px;
}


.hero-box .right-box .text-box {
    background: linear-gradient(90deg, #c218186b 0%,#c21818ab 0%), url('/Images/house1-miyah.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}


.hero-box .right-box .text-box .box-1 {
    text-align: center;
    padding: 10rem 3.5rem;
}


.hero-box .right-box .text-box .box-1 p {
    font-family: 'Lato', sans-serif;
    text-align: center;
    line-height: 32px;
    color: #ffffff;
    margin-bottom: 3rem;
    font-size: 18px;
}

.navbar-toggler {
    background: #ffffff;
    
}


.navbar-toggler .navbar-toggler-icon {
    color: #000000;
}

.logo {
    width: 150px;
}

/***********************************************************************/

/* 3. About Section */

#featured-properties {
    background: #ffffff;
    height: 400px;
}

#featured-properties .property-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
}

#featured-properties .property-box .img-box {
    height: 100%;
}

#featured-properties .property-box .img-box img {
    width: 100%;
    height: 100%;
}

#featured-properties .property-box .text-box {
    background: #ffffff;
    padding: 3rem;
    
}

#featured-properties .property-box .text-box .box-1 h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 600;
   
}


#featured-properties .property-box .text-box .box-1 h3 {

    font-family: 'Lato', sans-serif;
    margin: 1rem 0rem;
    font-size: 16px;
    

    
}


#featured-properties .property-box .text-box .box-1 p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 1rem;
}


#featured-properties .property-box .text-box .box-1 .button {
  
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
    

    
}

#featured-properties .property-box .text-box .box-1 .icons {
    display: flex;
    margin-bottom: 3rem;
    padding: 0;
}

#featured-properties .property-box .text-box .box-1 .icons li {
    margin: 0rem 0.5rem;
    list-style: none;
}


#featured-properties .property-box .text-box .box-1 .icons li img{
   width: 40px;
   height: 40px;

}


/***********************************************************************/

/* 4. MLS Section */



#MLS-Search {
    background: linear-gradient(90deg, rgba(1, 17, 64, 0.55) 0%, rgba(1, 17, 64, 0.678) 0%), url('/Images/house-1.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}


.MLS-box {
    width: 100%;
    height: 100%;
    padding: 10rem 14rem;
    text-align: center;
}


.MLS-box h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 1rem;
  
}

.MLS-box p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    margin-bottom: 3rem;
}

/***********************************************************************/


/* 4. Testimonials Section */

#Testimonials {
    background: #ffffff;
    height: 300px;
}

.title-box {
  max-width: 100%;
  text-align: center;
}


.title-box h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 3rem;
 }

.swiper-container {
    width: 100%;
    height: 200px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -moz-inline-stack;
    display: -webkit-inline-box;
    display: inline-block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide p {
     font-family: 'Lato', sans-serif;
     font-size: 1rem;
     padding: 0rem 5rem;
     line-height: 30px;
  }

  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
    outline: none;
  }

  .swiper-pagination-bullet-active {
    color: #fff;
    background: #011140;
  }

 .span-title {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    line-height: 16px;
    font-size: 20px !important;
    color: #000; 
    font-weight: 600;
  }

  /***********************************************************************/
/* 5. Contact Section */

#contact {
    width: 100%;
    height: 450px;
    margin-bottom: 2rem;
    text-align: right;
}

.title-box {
    margin-bottom: 2rem;
}

.contact-box {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100%;
    width: 100%;
    margin-top: 4rem;
}

.contact-box .message-box .mb-3 textarea {
    outline-style: none;
    box-shadow: none;
    border: 1px solid black;
    height: 170px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    text-transform: capitalize;
    font-weight: 600;
   
}

.message-box {
    margin-right: 1rem;
}

.input-box {
    margin-left: 1rem;
}

.input-box input[type="text"] {
    height: 50px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    text-align: right;
    font-weight: 600;
    border: none;
    border-bottom: 1px solid black;
    outline-style: none;
    box-shadow: none;
    background: #ffffff;
    text-transform: capitalize;
}

.input-box input[type="email"]  {
    height: 50px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    text-align: right;
    font-weight: 600;
    border: none;
    border-bottom: 1px solid black;
    outline-style: none;
    box-shadow: none;
    background: #ffffff;
    text-transform: capitalize;
}


.form-control {
    border-radius: 0;
    padding-left: 10px;
}

.btn-submit {
    margin-top: 30px;
}




/***********************************************************************/

/* 6. Footer Section */

footer {
    background: #011140;
    color: #ffffff;
    width: 100%;
    height: 300px;
}

.links {
    padding-top: 4rem;
    margin-bottom: 2rem;
}

.links li  {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-bottom: 1rem;
    list-style-type: none;
}

.links li a {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 0.5rem;
    transition: all .2s ease-in-out;
}

.links li a:hover {
    color: #f1c40f;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.social-links .social-link {
    background: #ffffff;
    width: 40px;
    height: 40px;
    padding: 0.5rem 0.5rem;
    margin: 0 1rem;
    transition: all .2s ease-in-out;
    list-style-type: none;
}



.social-links .social-link:hover {
   background: #f1c40f;
}



.social-links .social-link img {
    width: 25px;
    height: 25px;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 2px;
    left: 0;
    width: 100%;
}

/***********************************************************************/



/* 7. responsive Section */

@media screen and (max-width: 1100px) {
    .hero-box .right-box .text-box .box-1 {
        text-align: center;
        padding: 10rem 2.5rem;
    }

    .MLS-box {
        width: 100%;
        height: 100%;
        padding: 10rem 11rem;
        text-align: center;
    }
}


@media screen and (max-width: 999px) {

    .hero-box {
        height: 670px;
    }


    .hero-box .right-box .text-box .box-1 {
        text-align: center;
        padding: 6.5rem 1rem;
    }

    .hero-box .right-box .text-box .box-1 p {
        font-size: 16px;
    }

    .hero-box .left-box img {
        width: 100%;
        height: 600px;
    }

    .hero-box .right-box .text-box {
        height: 600px;
    }

    .navbar  .navbar-toggle.navbar-toggler .icon-bar{
        background-color:black !important;
     }

    #featured-properties {
        background: #ffffff;
        height: 380px;
    }

    #featured-properties .property-box .text-box .box-1 .button {
        font-family: 'Lato', sans-serif;
        text-align: center;
        font-size: 14px;
        margin: 0 auto;
    }

    #featured-properties .property-box .text-box .box-1 .icons li img {
        width: 30px;
        height: 30px;
    }

    #featured-properties .property-box .img-box {
        height: 380px;
    }

    #featured-properties .property-box .text-box {
        background: #ffffff;
        padding: 1.5rem;
        height: 350px;
    }

    #featured-properties .property-box .text-box .box-1 h2 {
        font-size: 25px;
    }

    #featured-properties .property-box .text-box .box-1 p {
        margin-bottom: 0.5rem;
    }

    #featured-properties .property-box .text-box .box-1 p {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        line-height: 30px;
        margin-bottom: 1rem;
    }

    #featured-properties .property-box .text-box .box-1 .icons {
        display: flex;
        margin-bottom: 1.8rem;
    }

    #MLS-Search {
        background: linear-gradient(90deg, rgba(1, 17, 64, 0.55) 0%, rgba(1, 17, 64, 0.678) 0%), url(/Images/house-1.jpeg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 400px;
    }

    .MLS-box {
        width: 100%;
        height: 100%;
        padding: 5rem 5rem;
        text-align: center;
    }

    .swiper-slide p {
        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        padding: 0rem 3rem;
        line-height: 30px;
    }

    .MLS-box p {
        font-family: 'Lato', sans-serif;
        font-size: 17px;
        line-height: 32px;
        color: #ffffff;
        margin-bottom: 3rem;
    }

    .links {
        padding-top: 3rem;
        margin-bottom: 2rem;
        padding-left: 0;
    }

    .social-links {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .navbar-nav .nav-item .nav-link {
        color: #ffffff;
        font-size: 1rem;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        transition: all .2s ease-in-out;
    }

    .navbar-nav .nav-item .nav-link:hover {
      background: #ffffff3d;
    }


    
}



@media screen and (max-width: 764px) {

    .hero-box {
        height: 600px;
    }

    .hero-box .right-box .text-box .box-1 {
        text-align: center;
        padding: 1rem 1rem;
        
    }

    .hero-box .right-box .text-box .box-1 p {
        font-size: 13px;
        line-height:20px;
    }

    .button {
        font-size: 14px;
        padding: 1.2rem 1.2rem;
        
   
    }

    .hero-box .left-box img {
        width: 100%;
        height: 530px;
    }


    .hero-box .right-box .text-box {
        height: 350px;
    }

    #featured-properties {
        background: #ffffff;
        height: 380px;
    }

    #featured-properties .property-box .text-box .box-1 .button {
        font-family: 'Lato', sans-serif;
        text-align: center;
        font-size: 14px;
        margin: 0 auto;
    }

    #featured-properties .property-box .text-box .box-1 .icons li img {
        width: 30px;
        height: 30px;
    }

    #featured-properties .property-box .img-box {
        height: 380px;
    }

    #featured-properties .property-box .text-box {
        background: #ffffff;
        padding: 1.2rem;
        height: 350px;
    }

    #featured-properties .property-box .text-box .box-1 h2 {
        font-size: 20px;
    }

    #featured-properties .property-box .text-box .box-1 h3 {
        font-family: 'Lato', sans-serif;
        margin: 1rem 0rem;
        font-size: 11px;
    }

    #featured-properties .property-box .text-box .box-1 p {
        margin-bottom: 0.5rem;
    }

    #featured-properties .property-box .text-box .box-1 p {
        font-size: 13px;
        line-height: 25px;
    }

    #featured-properties .property-box .text-box .box-1 .icons {
        display: flex;
        margin-bottom: 1.8rem;
    }

    #MLS-Search {
        background: linear-gradient(90deg, rgba(1, 17, 64, 0.55) 0%, rgba(1, 17, 64, 0.678) 0%), url(/Images/house-1.jpeg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 400px;
    }

    .MLS-box {
        padding: 3rem 1rem;
    }

    .swiper-slide p {
        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        padding: 0rem 1.2rem;
        line-height: 30px;
    }

    .swiper-slide {
        width: 476px;
        height: 160px;
    }

    .swiper-container {
        width: 100%;
        height: 220px;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 2px;
        left: 0;
        width: 100%;
    }


}

@media screen and (max-width: 500px) {

    #hero {
        height: 860px;
    }

    .hero-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        height: 1000px;
        z-index:999;
    }

    .hero-box .left-box {
        max-width: 100%;
        height: 570px;
    }

    .hero-box .right-box {
        width: 100%;
        height: 900px;
    }
       

    .hero-box .right-box .text-box .box-1 {
        text-align: center;
        padding: 1rem 1rem;
        
        
    }

    .hero-box .right-box .text-box .box-1 p {
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 1.5rem;
    
    }

    #featured-properties .property-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        height: 100%;
    }

    .button {
        font-size: 12px;
        padding: 1rem 2rem;
    }

    .hero-box .left-box img {
        width: 100%;
        height: 600px;
    }

    .hero-box .right-box .text-box {
        height: 220px;
    }

    #featured-properties {
        background: #ffffff;
        height: 660px;
        text-align: center;
    }

    #featured-properties .property-box .text-box .box-1 .button {
        font-family: 'Lato', sans-serif;
        text-align: center;
        font-size: 14px;
        margin: 0 auto;
    }

    #featured-properties .property-box .text-box .box-1 .icons li img {
        width: 30px;
        height: 30px;
    }


    #featured-properties .property-box .img-box {
        height: 300px;
    }

    #featured-properties .property-box .text-box {
        background: #ffffff;
        padding: 1.2rem;
        height: 278px;
    }

    #featured-properties .property-box .text-box .box-1 h2 {
        font-size: 23px;
    }


    #featured-properties .property-box .text-box .box-1 h3 {
        font-family: 'Lato', sans-serif;
        margin: 0.8rem 0rem;
        font-size: 12px;
    }


    #featured-properties .property-box .text-box .box-1 p {
        margin-bottom: 0.5rem;
    }

    #featured-properties .property-box .text-box .box-1 p {
        font-size: 13px;
        line-height: 20px;
    }


    #featured-properties .property-box .text-box .box-1 .icons {
        display: flex;
        margin-bottom: 1.8rem;
        justify-content: center;
    }

    #MLS-Search {
        background: linear-gradient(90deg, rgba(1, 17, 64, 0.55) 0%, rgba(1, 17, 64, 0.678) 0%), url(/Images/house-1.jpeg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 360px;
    }

    .MLS-box {
        padding: 3rem 1rem;
    }

    .swiper-slide p {
        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        padding: 0rem 1.2rem;
        line-height: 30px;
    }

    .swiper-slide {
        width: 476px;
        height: 180px;
    }

    .swiper-container {
        width: 100%;
        height: 228px;
    }

    

    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 0px;
        left: 0;
        width: 100%;
    }

    .MLS-box p {
        font-size: 16px;
        line-height: 32px;
    }

    #contact {
        width: 100%;
        height: 660px;
        margin-bottom: 2rem;
        text-align: right;
    }

    .contact-box {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        height:500px;
        width: 100%;
        margin-top: 4rem;
    }

    .input-box {
        margin-left: 0rem;
    }

    .message-box {
        margin-right: 0rem;
    }

    .links {
        padding-top: 3rem;
        margin-bottom: 2rem;
        padding-left: 0;
    }

    .social-links {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

}


@media screen and (max-width: 400px) {

    .hero-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        height: 1000px;
        z-index:999;
    }

    

    .hero-box .left-box {
        max-width: 100%;
        height: 450px;
    }
       

    .hero-box .right-box .text-box .box-1 {
        text-align: center;
        padding: 3rem 1rem 0rem 1rem;
        
    }

    .hero-box .right-box .text-box .box-1 p {
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 1.5rem;
    
    }

    #featured-properties .property-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        height: 100%;
    }

    .button {
        font-size: 12px;
        padding: 1rem 2rem;
    }

    .hero-box .left-box img {
        width: 100%;
        height: 450px;
    }


    .hero-box .right-box .text-box {
        height: 345px;
    }

    #featured-properties {
        background: #ffffff;
        height: 600px;
    }

    #featured-properties .property-box .text-box .box-1 .button {
        font-family: 'Lato', sans-serif;
        text-align: center;
        font-size: 14px;
        margin: 0 auto;
    }

    #featured-properties .property-box .text-box .box-1 .icons li img {
        width: 30px;
        height: 30px;
    }


    #featured-properties .property-box .img-box {
        height: 300px;
    }

    #featured-properties .property-box .text-box {
        background: #ffffff;
        padding: 1.2rem;
        height: 320px;
    }

    #featured-properties .property-box .text-box .box-1 h2 {
        font-size: 22px;
    }


    #featured-properties .property-box .text-box .box-1 h3 {
        font-family: 'Lato', sans-serif;
        margin: 0.8rem 0rem;
        font-size: 12px;
    }


    #featured-properties .property-box .text-box .box-1 p {
        margin-bottom: 0.5rem;
    }

    #featured-properties .property-box .text-box .box-1 p {
        font-size: 12px;
        line-height: 20px;
    }


    #featured-properties .property-box .text-box .box-1 .icons {
        display: flex;
        margin-bottom: 1.8rem;
    }

    #MLS-Search {
        background: linear-gradient(90deg, rgba(1, 17, 64, 0.55) 0%, rgba(1, 17, 64, 0.678) 0%), url(/Images/house-1.jpeg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 380px;
    }

    .MLS-box {
        padding: 3rem 1rem;
    }

    .title-box h2 {
        font-size: 2.3rem;
    }

    .swiper-slide p {
        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        padding: 0rem 1.2rem;
        line-height: 26px;
    }

    .MLS-box p {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        line-height: 32px;
        color: #ffffff;
        margin-bottom: 2rem;
    }

    .swiper-slide {
        width: 476px;
        height: 180px;
    }

    .swiper-container {
        width: 100%;
        height: 228px;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 0px;
        left: 0;
        width: 100%;
    }

    .links {
        padding-top: 3rem;
        margin-bottom: 2rem;
        padding-left: 0;
    }

    .social-links {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

}